//字体颜色
//@font-color: #212146;

// 暗黑主题
//菜单栏背景
@background-color: #212121;
//背景
@background-color2: #181818;
//内容背景
@background-color3: #252525;
// 选中内容背景
@background-color4: #414141;
//字体
@font-color: #FFFFFF;
//子标题
@font-color2: #747474;


 // // 明亮主题
//////菜单栏背景
//@background-color: #f5f5f5;
////背景
//@background-color2: #eeeeee;
////内容背景
//@background-color3: #ececec;
//// 选中内容背景
//@background-color4: #e0e0e0;
////字体
//@font-color: #000000;
////子标题
//@font-color2: #7d7d7d;


@box-color: #0258A5;
@angle-color: #0A0233;
@high-color: #FAC34E;
@second-color: #E87955;
@logo-color: #E87955;


/**
element 组件基础样式
 */
//树形组件
.el-tree {
  position: relative;
  cursor: default;
  background: @background-color3;
  color: @font-color;
}

// 水平分割线
.el-divider__text {
  position: absolute;
  background-color: @background-color3;
  padding: 0 20px;
  font-weight: 500;
  color: @font-color;
  font-size: 14px;
}

//分割线
.el-divider--vertical {
  height: auto;
}

//tree 选中
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: @background-color4;
}

// 弹出框
.el-dialog {
  --el-dialog-bg-color: @background-color3;
}

.el-dialog__title {
  color: @font-color;
}

.el-dialog__header {
  border-bottom: @font-color2 solid 1px;
}


// 输入框textarea
.el-textarea {
  --el-input-bg-color: @background-color3;
}

.el-popper {
  fill: @font-color;
}

// tree
.el-checkbox__inner{
  background-color:@font-color2;
}

// 分页器
.el-pagination.is-background .btn-next:disabled, .el-pagination.is-background .btn-prev:disabled {
  color: @font-color;
}
//
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
  background-color:@background-color4;
}

//穿梭框
.el-transfer {
  //描边
  --el-transfer-border-color: @background-color2;
  //标题
  --el-transfer-panel-header-bg-color:@background-color;
}
.el-transfer-panel {
  background: @background-color4;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label {
  color: @font-color;
}
