//字体颜色
//@font-color: #212146;

// 暗黑主题
//菜单栏背景
@background-color: #212121;
//背景
@background-color2: #181818;
//内容背景
@background-color3: #252525;
// 选中内容背景
@background-color4: #414141;
//字体
@font-color: #FFFFFF;
//子标题
@font-color2: #747474;


// 明亮主题
////菜单栏背景
//@background-color: #ffffff;
////背景
//@background-color2: #e5e5e5;
////内容背景
//@background-color3: #fdfdfd;
//// 选中内容背景
//@background-color4: #e0e0e0;
////字体
//@font-color: #000000;
////子标题
//@font-color2: #393939;





@box-color: #0258A5;
@angle-color: #0A0233;
@high-color: #FAC34E;
@second-color: #E87955;
@logo-color:#E87955;




