//字体颜色
//@font-color: #212146;
@font-color: #FFFFFF;
//菜单栏背景
@background-color: #212121;
//背景
@background-color2: #181818;
//内容背景
@background-color3: #252525;
// 选中内容背景
@background-color4: #414141;
//子标题
@font-color2: #747474;
@box-color: #0258A5;
@angle-color: #0A0233;
@high-color: #FAC34E;
@second-color: #E87955;




